header > h1 {
	text-align: center;
}	

li > a {
	text-decoration : none;
	color: black;

}

a:hover {
	color : #FF0000 ;
	text-decoration: none;
	text-decoration: underline;
}

img {
	background-color :green;
}

ul {
  list-style: none;
}

body {
	overflow-x : hidden;
	background: linear-gradient(cyan, yellow);
}
