html{
	position: absolute;
    height: 100%;
    background-size: 100% ;
    width:100%;  
    color:black;
}
html:before {
      content: "";
      position: fixed;
      height: 100%; width: 100%;
      background: url('https://c.tenor.com/NpWm6ouFz-UAAAAC/super-mario-64.gif');
      background-size: cover;
      z-index: -1;  
      -webkit-filter: blur(8px);
   }

body {
	height: 100%;
	width: 100%;
	
}

body > footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 25%;
	margin: 5% 35%;
	width: 30%;
	height: 30%;
	background-color: rgba(99, 215, 97, 0.8);
	border-radius: 25px
}
form {display: flex;
	flex-direction: column;
	align-items: center;}


.connexion {
	display: flex;
	justify-content: center;
}


.sign_in {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.sign_in > a {
	display: flex;
	justify-content: space-around;
	margin: 0% 1%;

	color: black;
}

.sign_in > a:hover {
	display: flex;
	justify-content: space-around;

	color: #696969;
}

footer {
	/*position: relative;
 	margin-top: 470px;*/
 	bottom: 0px;
}



